* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    background: linear-gradient(to left, #ba7453, #d1a984);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    background: linear-gradient(to left, brown, #ba7453);
    color: white;
}

#logo{
    grid-column: 2/3;
    font-size: 48px;
}

.desc{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0px;
    color: darkslategrey;
}

#intro{
    grid-column: 2/3;
    font-size: 24px;
    margin: 15px 0px 0px;
}

section{
    display: flex;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 80%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.headline{
    position: absolute;
    top: 80%;
    left: 10%;
    font-size: 40px;
    transform: translate(-20%, -70%);
    color: black;
    z-index: 1;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
    left: 0;
    top: 0;
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 18px;
    border-radius: 10px;
    background-color: lightskyblue;
}

button:hover {
    background-color: #4CAF50; /* Green */
    color: black;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to left, brown, #ba7453);
  color: white;
  text-align: center;
}